 a {
    text-decoration:none;
    text-align:center;
}
a:hover {
    text-decoration:underline;
}

p#sc {
    text-transform:capitalize;
}
p#su {
    text-transform:uppercase;
}
p#sl {
    text-transform:lowercase;
}